<div class="col-md-3">
    <div class="well current-weather-well">
        <div class="text-center">

            <h1 class="weather-icon">{{weather-icon iconClass}}</h1>
            <h2>{{model.name}} </h2>
            <h1>{{roundedTemp}} °C </h1>

          {{#each model.weather}}
              <h4>{{description}}</h4>
          {{/each}}

        </div>
    </div>
</div>